<main>
    <section class="form-section">
        <img src="/assets/loginimg/logo.png" alt />
        <h2>{{title}}</h2>
        <ng-content> </ng-content>
        <div class="btn-wrapper">
            <button class="btnprimary">{{primaryBtnText}}</button>
            <div class="dividir">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btnsecondary">{{secondaryBtnText}}</button>
        </div>
    </section>
    <section class="main-section">
        <h1>You ShOULD, titulo!</h1>
        <img src="/assets/loginimg/mainlogo.png" alt />
    </section>
</main>