<app-layout
    title="Faca login na sua Conta"
    primaryBtnText="Login"
    secondaryBtnText="Cadastre"
    (submit)="submit()"
    (navigate)="navigate()"
    [disableprimarybotton]="!loginForm.valid"
    >

    <form action [formGroup]="loginForm">
        <app-input
        formControlName="email"
            
            inputName="email"
            type="email"
            label="Digite seu Email:"
        placeholder="Exemplo@email.com" >

            <img src="/assets/loginimg/email.svg" alt="">
        </app-input>
        <app-input
        formControlName="password"
            inputName="password"
            type="password"
            label="Digite sua Senha:" 
           placeholder="Digite sua Senha!" >
            <img src="/assets/loginimg/password.svg" alt="">
        </app-input>
    </form>
</app-layout>